

<h1>Add new actor</h1>

<form action="http://localhost:3000/create_new_actor">
  Name:
  <input name="the_name" type="text" value="<%= @actor_name %>">

  Bio:
  <input name="the_bio" type="text" value="<%= @actor_bio %>">

  DOB:
  <input name="the_dob" type="text" value="<%= @actor_dob %>">

  Image_url:
  <input name="the_source" type="text" value="<%= @actor_image_url %>">

  <button>Add actor</button>
</form>

<a href="/actor">Cancel and go back</a>
