<h1>welcome to movies index</h1>

<p><a href="http://localhost:3000/directors/">See directors</a></p>

<p><a href="http://localhost:3000/actors/">See actors</a></p>

<p><a href="http://localhost:3000/movies">See movies</a></p>


